   
.cell
{
              height: 100px;
              width: 100px;
              text-shadow: 2px 2px 0px #8ed9ff;
              font-size: 80px;
              background-color: rgb(190, 165, 165);
}
.fill
{
              height: 100px;
              width: 100px;
              text-shadow: 2px 2px 0px #8ed9ff;
              font-size: 80px;
              background-color: rgb(190, 165, 165);
  
}